.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label {
 color: #000000;
 margin: 25px;

}

button{
  cursor:pointer;
}

input[type="text" ]{
  margin: 25px;
}

textarea{
  margin:1%;
  width: 98%;
  height:250px;
}

button{margin-left:5px}